.filmpage__container {
    margin-top: 30px;
    font-family: var(--font-family-base);
    border: var(--border);
    width: 100%;
    border-radius: var(--border-radius);
    padding-bottom: 20px;
    padding-top: 20px;
}

.filmpage__backbutton {
    background-color: var(--color-accent);
    border: var(--border);
    border-radius: var(--border-radius);
    width: 100px;
    height: 50px;
    color: var(--color-white);
    font-size: 20px;
    transition-duration: var(--transition-duration);

    &:hover {
        transition-duration: var(--transition-duration);
        color: var(--color-accent);
        background-color: var(--color-white);
    }

    &:active {
        scale: 1.1;
    }
}

.filmpage__main {
    margin-top: 30px;
    display: flex;
    align-items: flex-start
}

.filmpage__poster {
    border: var(--border);
    border-radius: var(--border-radius);
    margin-right: 30px;
    width: 350px;
}

.filmpage__info {
    display: flex;
    flex-direction: column;
}

.filmpage__info-title {
    font-size: 40px;
    color: var(--color-dark-accent);
}

.filmcard__info-rate {
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-size: 20px;
    color: var(--color-black)
}

.filmpage__info-text {
    color: var(--color-dark-accent);
    margin-top: 30px;
    font-size: 30px;
}

.filmpage__actors-title {
    margin-top: 30px;
    font-size: 30px;
    color: var(--color-dark-accent);
}

.filmpage__actors-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
}

.actor__poster {
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
}

.actor__card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actor__name {
    font-size: 20px;
    color: var(--color-dark-accent);
}

.actor__character {
    font-size: 15px;
    color: var(--color-accent);
}

.filmpage__toFeatures {
    margin-top: 20px;
    background-color: var(--color-accent);
    border: var(--border);
    border-radius: var(--border-radius);
    width: 250px;
    height: 50px;
    color: var(--color-white);
    font-size: 20px;
    transition-duration: var(--transition-duration);

    &:hover {
        transition-duration: var(--transition-duration);
        color: var(--color-accent);
        background-color: var(--color-white);
    }

    &:active {
        scale: 1.1;
    }
}

.trailer__button {
    margin-top: 20px;
    width: 200px;
}

.modal__content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 20px;
}

@media (max-width: 1532px) {
    .filmpage__actors-list {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 1032px) {
    .filmpage__actors-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 837px) {
    .filmpage__actors-list {
        grid-template-columns: repeat(1, 1fr);
    }
}