.filmCard-container {
    display: flex;
    width: 300px;
    justify-content: center;
}

.filmcard__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
}

.filmcard__img {
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.filmcard__title {
    color: var(--color-dark-accent);
}

.filmcard__rate {
    display: flex;
    column-gap: 5px;
    color: var(--color-accent);
}
