.header {
    border-bottom: var(--border);
}

.header__logo {
    width: 200px;
    height: 50px;
}

.header__container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.header__actions {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.header__links {
    display: flex;
    column-gap: 20px;
}

.header__link-item {
    font-weight: 700;
    color: var(--color-blue);
    font-size: 18px;

    &:hover {
        transition-duration: var(--transition-duration);
        color: var(--color-dark-accent);
    }
}

.header__search-form {
    display: flex;
    align-items: center;
}

.header__form-input {
    border: var(--border);
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
    height: 40px;
    width: 300px;
    padding-left: 10px;
    font-family: var(--font-family-base);
}

.header__form-button {
    padding-inline: 40px;
    height: 40px;
    width: 50px;
    background-color: transparent;
    border: var(--border);
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    transition-duration: var(--transition-duration);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transition-duration: var(--transition-duration);
        opacity: 0.8;
    }
}

.form__text {
    color: var(--color-accent);
    font-family: var(--font-family-base);
    font-weight: 700;
}

.header__features-button {
    background-color: transparent;
    border: none;
}

@media (max-width: 1132px) {
    .header__actions {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
    }
}